<form (ngSubmit)="saved()" #bookForm="ngForm">
  <input type="text" name="title" required [(ngModel)]="book.title" [minlength]="5" placeholder="title" #title="ngModel">
  <h3 *ngIf="title.control.errors.minlength">Tul rovid</h3>
  <h3 *ngIf="title.control.errors.required">Kotelezo</h3>
  <input type="text" name="author" required [(ngModel)]="book.author" [minlength]="3" placeholder="author">
  <button type="submit">Save</button>
</form>

<h3>Title: {{book.title}}</h3>
<h3>Author: {{book.author}}</h3>

