<h1>
  Random Generator
</h1>

<button id="generateButton" type="button" (click)="generateNumber()">GENERATE!</button>

<div id="generatedNumber" *ngIf="lastGeneratedNumber">{{lastGeneratedNumber}}</div>
