<table>
  <tr>
    <th>ISBN</th>
    <th>Title</th>
    <th>Author</th>
  </tr>

  <tr *ngFor="let book of bookList">
    <td (click)="edit(book)">{{book.isbn}}</td>
    <td>{{book.title}}</td>
    <td>{{book.author}}</td>
  </tr>
</table>

<div *ngIf="editedBook">

  <div *ngIf="error" class="error">HTTP STATUS: {{error.status}}  {{(error.code)}} {{error.details}}</div>

  <app-reactive-book-details-form [book]="editedBook" (bookSaved)="saveBook($event)"></app-reactive-book-details-form>
</div>
