<h1>{{title}}</h1>
<app-book-list></app-book-list>
<!--<app-random-generator></app-random-generator>-->
<!--<app-counter-->
  <!--(currentValueChanged)="counterValueChanged('counter1', $event)"-->
  <!--[currentValue]="counterValues.counter1"></app-counter>-->
<!--<app-counter (currentValueChanged)="counterValueChanged('counter2', $event)"-->
  <!--[currentValue]="counterValues.counter2"></app-counter>-->

<!--<button type="button" (click)="noveld()">NOVELD!!!</button>-->

<!--&lt;!&ndash;<app-book-details-form [book]="book" (bookSaved)="bookSaved($event)"></app-book-details-form>&ndash;&gt;-->
<!--<app-reactive-book-details-form [book]="book" (bookSaved)="bookSaved($event)"></app-reactive-book-details-form>-->

<!--<button type="button" (click)="harry()">Harry!</button>-->
