<form (ngSubmit)="saved()" [formGroup]="bookForm">

  <label for="title">ISBN:</label>
  <input id="isbn" type="text" name="isbn" placeholder="isbn" formControlName="isbn">
  <ul *ngIf="bookForm.controls.isbn.errors">
    <li *ngIf="bookForm.controls.isbn.errors.required">ISBN is required</li>
    <li *ngIf="bookForm.controls.isbn.errors.minlength">The minimum required length is {{bookForm.controls.isbn.errors.minlength.requiredLength}}.</li>
  </ul>
  <label for="title">Title:</label>
  <input id="title" type="text" name="title" placeholder="title" formControlName="title">
  <ul *ngIf="bookForm.controls.title.errors">
    <li *ngIf="bookForm.controls.title.errors.required">Title is required</li>
    <li *ngIf="bookForm.controls.title.errors.minlength">The minimum required length is {{bookForm.controls.title.errors.minlength.requiredLength}}.</li>
  </ul>
  <label for="author">Author:</label>
  <input id="author" type="text" name="author" placeholder="author" [formControlName]="'author'">
  <ul *ngIf="bookForm.controls.author.errors">
    <li *ngIf="bookForm.controls.author.errors.required">Title is required</li>
    <li *ngIf="bookForm.controls.author.errors.minlength">The minimum required length is {{bookForm.controls.author.errors.minlength.requiredLength}}.</li>
  </ul>
  <button type="submit">Save</button>
</form>

<h3>ISBN: {{book.isbn}}</h3>
<h3>Title: {{book.title}}</h3>
<h3>Author: {{book.author}}</h3>
